@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
.bold {
  font-family: "open-sans", sans-serif;
}

:root {
  --accent: 33, 150, 243; /* modern material blue for light theme */
  --background: 244, 244, 244; /* light gray */
  --primary: 255, 193, 7; /* material amber for light theme */
  --secondary: 76, 175, 80; /* material green for light theme */
  --tertiary: 255, 235, 59; /* material yellow for light theme */
  --text: 51, 51, 51; /* dark gray */
  background: rgba(var(--background));
}

.dark {
  --accent: 255, 87, 34; /* modern material deep orange for dark theme */
  --background: 34, 34, 34; /* darker background for dark theme */
  --primary: 103, 58, 183; /* material deep purple for dark theme */
  --secondary: 0, 188, 212; /* material cyan for dark theme */
  --tertiary: 255, 64, 129; /* material pink for dark theme */
  --text: 244, 244, 244; /* light text for dark theme */
  background: rgba(var(--background));
}
